<div class="row" style="padding-top: 10px">
  <div class="col-lg-6">
    <h3>{{ accion }} Empleado</h3>
  </div>
</div>
<div class="spinner-border" role="status" *ngIf="loading">
  <span class="sr-only">Cargando...</span>
</div>
<br />
<form nz-form [formGroup]="empleadosForm" (ngSubmit)="guardarEmpleados()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombres"
      >Nombres</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="nombre"
        type="text"
        formControlName="nombre"
        style="width: 90%"
        placeholder="ej. Pablo Lara , Maria Jose"
      />
    </nz-form-control>
  </nz-form-item>
  <span
    class="text-danger ml-3"
    *ngIf="
      empleadosForm.get('nombre').hasError('required') &&
      empleadosForm.get('nombre').touched
    "
  >
    Los nombres del colaborador son requeridos</span
  >
  <nz-form-item>
    <br />
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="apellidos"
      >Apellidos</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        type="text"
        formControlName="apellido"
        style="width: 90%"
        placeholder="ej. Mendez Hernandez, Romero Sanchez"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="direccion"
      >Direccion Completa</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        type="text"
        formControlName="direccion"
        style="width: 150%"
        placeholder="ej. Colonia, # de Bloque y Casa"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="n_cedula"
      >Numero Cedula</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        type="text"
        maxlength="13"
        formControlName="n_cedula"
        placeholder="ej. 0501151202154"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="depto"
      >Departamento</nz-form-label
    >

    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="depto">
        <nz-option
          type="number"
          *ngFor="let departamento of listDeptos"
          nzValue="{{ departamento.id }}"
          nzLabel="{{ departamento.descripcion }}"
        ></nz-option>
      </nz-select> </nz-form-control
  ></nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="salario"
      >Salario</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="number" formControlName="salariobase" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fechaingreso"
      >Fecha Ingreso</nz-form-label
    >
    <nz-date-picker
      [(ngModel)]="date"
      (ngModelChange)="onChange($event)"
      formControlName="fechaingreso"
    >
    </nz-date-picker>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tplanilla"
      >Planilla</nz-form-label
    >

    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="tplanilla">
        <nz-option
          type="number"
          *ngFor="let tp of listTP"
          nzValue="{{ tp.id }}"
          nzLabel="{{ tp.descripcion }}"
        ></nz-option>
      </nz-select> </nz-form-control
  ></nz-form-item>

  <nz-form-control [nzSpan]="14" [nzOffset]="6">
    <button nz-button nzType="primary" [disabled]="empleadosForm.invalid">
      {{ accion }} Empleado
    </button>
  </nz-form-control>
  <nz-form-control [nzSpan]="14" [nzOffset]="6">
    <button nz-button nzType="default" [routerLink]="['/']">Cancelar</button>
  </nz-form-control>
</form>
