<div class="row" style="padding-top: 10px">
  <div class="col-lg-6">
    <h3>{{ accion }} Empleado</h3>
  </div>
</div>
<div class="spinner-border" role="status" *ngIf="loading">
  <span class="sr-only">Cargando...</span>
</div>
<br />

<form [formGroup]="empleadosForm" (ngSubmit)="guardarEmpleados()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputNombre">Nombres</label>
      <input
        type="text"
        class="form-control"
        formControlName="nombre"
        placeholder="ej. Pablo Lara , Maria Jose"
      />
    </div>
    <span
      class="text-danger ml-3"
      *ngIf="
        empleadosForm.get('nombre').hasError('required') &&
        empleadosForm.get('nombre').touched
      "
    >
      Los nombres del colaborador son requeridos</span
    >

    <div class="form-group col-md-4">
      <label for="inputApellidos" style="padding-top: 10px">Apellidos</label>
      <input
        type="text"
        class="form-control"
        formControlName="apellido"
        placeholder="ej. Mendez Hernandez, Romero Sanchez"
      />
    </div>
    <span
      class="text-danger ml-3"
      *ngIf="
        empleadosForm.get('apellido').hasError('required') &&
        empleadosForm.get('apellido').touched
      "
    >
      Los apellidos del colaborador son requeridos</span
    >
  </div>
  <div class="form-group">
    <label for="inputDireccion" style="padding-top: 10px"
      >Direccion Completa</label
    >
    <input
      type="text"
      class="form-control"
      formControlName="direccion"
      placeholder="ej. Colonia, # de Bloque y Casa"
    />
  </div>
  <span
    class="text-danger ml-3"
    *ngIf="
      empleadosForm.get('direccion').hasError('required') &&
      empleadosForm.get('direccion').touched
    "
  >
    La direccion completa del colaborador es requerida</span
  >
  <div class="form-group col-md-2">
    <label for="inputCedula" style="padding-top: 10px">Número de Cedula</label>
    <input
      type="number"
      class="form-control"
      formControlName="n_cedula"
      placeholder="ej. 0501151202154"
    />
  </div>
  <span
    class="text-danger ml-3"
    *ngIf="
      empleadosForm.get('n_cedula').hasError('required') &&
      empleadosForm.get('n_cedula').touched
    "
  >
    El numero de cedula del colaborador es requerida</span
  >
  <div class="form-group col-md-2">
    <label for="inputDepto" style="padding-top: 10px">Departamento</label>
    <input
      type="text"
      class="form-control"
      formControlName="depto"
      placeholder="ej. Contabilidad, etc."
    />
  </div>
  <span
    class="text-danger ml-3"
    *ngIf="
      empleadosForm.get('depto').hasError('required') &&
      empleadosForm.get('depto').touched
    "
  >
    El departamento en el que colaborador es requerida</span
  >
  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="inputSalario" style="padding-top: 10px">Salario Neto</label>
      <input type="number" class="form-control" formControlName="salariobase" />
    </div>
    <span
      class="text-danger ml-3"
      *ngIf="
        empleadosForm.get('salariobase').hasError('required') &&
        empleadosForm.get('salariobase').touched
      "
    >
      El salario del colaborador es requerido</span
    >
    <div class="col-lg-6" style="padding-top: 10px">
      <tr>
        <td>
          <button class="btn btn-success" [disabled]="empleadosForm.invalid">
            {{ accion }} Empleado
          </button>
        </td>
        <td>
          <button
            class="btn btn-secondary"
            style="margin-left: 20px; margin: 10px"
            [routerLink]="['/']"
          >
            Cancelar
          </button>
        </td>
      </tr>
    </div>
  </div>
</form>
