<div class="row" style="padding-top: 10px">
  <div class="col-lg-6">
    <h3>Lista de Empleados</h3>
  </div>
</div>
<br />
<div class="row" style="padding-top: 10px">
  <div class="col-lg-6">
    <nz-input-group [nzPrefix]="prefixTemplateUser">
      <input
        type="text"
        (input)="Search()"
        [(ngModel)]="nombres"
        nz-input
        placeholder="Buscar colaborador"
      />
    </nz-input-group>
    <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
  </div>
</div>
<div class="spinner-border" role="status" *ngIf="loading">
  <span class="sr-only">Cargando...</span>
</div>
<br />

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">N° Cedula</th>
      <th scope="col">Direccion</th>
      <th scope="col">Fecha Ingreso</th>
      <th scope="col">Salario Base</th>
      <th>Acciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let empleado of listEmpleados | paginate: page_size:page_number"
    >
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.nombres }}</td>
      <td>{{ empleado.apellidos }}</td>
      <td>{{ empleado.n_Cedula }}</td>
      <td>{{ empleado.direccion }}</td>
      <td>{{ empleado.fechaIngreso | date: "dd/MM/yyyy" }}</td>
      <td>{{ empleado.salarioBase }}</td>

      <td>
        <button
          class="btn btn-primary btn-sm"
          [routerLink]="['/editar', empleado.id]"
        >
          Editar
        </button>
        <button
          class="btn btn-danger btn-sm"
          (click)="showDeleteConfirm(empleado.id)"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator
  [length]="listEmpleados.length"
  [pageIndex]="1"
  [pageSize]="page_size"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePage($event)"
>
</mat-paginator>
