<div class="row" style="padding-top: 10px;">
<div class="col-lg-6">
    <h3>Lista de Empleados</h3>
</div>
<div class="col-lg-6">
    <button class="btn btn-primary ">Nuevo Empleado</button>
</div>
</div>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">N° Cedula</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Departamento</th>
        <th scope="col">Salario Base</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>

      </tr>
      <tr>
        <th scope="row">2</th>

      </tr>
      <tr>
        <th scope="row">3</th>

      </tr>
    </tbody>
  </table>